
  @import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Roboto:ital,wght@0,100;1,300&display=swap');

  :root{
    --primary-color:#9EB7B6;
    --secondary-color:#84C3C2;
    --accent1-color:#E0DBD2;
    --accent2-color:#151010;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
    
    --nav-background-color:#879695;
    --nav-link-color:rgb(113, 113, 150);
    --nav-hover-link-color:#84C3C2;
    --nav-hover-background-color:#9dacab;
}

h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 5fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}
#logo_img {
    margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    /* flex: 1 1 100%; */
}
.navigation a:hover {
	color: rgb(161, 71, 55);
	font-weight: 700;
	text-decoration: underline;
}
.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}
.navigation {
	display: flex;
}

body {
    max-width: 900px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 900px;
    height: auto;
    position: relative;
}

.hero article {
    position: absolute;
    left: 15%;
    width: 600px;
    top: 35%;
    bottom: 35%;
    background-color: var(--secondary-color);

}
.hero h1 {
    position: absolute;
    top: 20px;

}

.hero article img {
    float: right;
    top: 20px;
    right: 20px;
    width: 200px;
    height: auto;
}

.hero article p {
    width: 60%;
    font-size: larger;
}
section h2 {
    margin: auto;

}

#adventure_pic {
    width: 100%;
    height: 150px;
    background-color:  #ccc;
    display: flex;
    margin-bottom: 10px;
}
figure {
    max-height: 100px;
    max-width: 100px;
    margin: auto;
}
figure img {
    max-width: 100%;
    max-height: 100%;
}
footer nav a {
    float: right;
    max-height: 30px;
}
footer nav img{
    max-height: 30px;
    margin-left: 5px;
}
footer nav {
    display: flex;
    height: 50px;
}
footer nav p {
    justify-content: center;
    margin-left: 30%;
    margin-right: 10%;
}