
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');
:root{
    --primary-color:#9EB7B6;
    --secondary-color:#84C3C2;
    --accent1-color:#E0DBD2;
    --accent2-color:#151010;
    --heading-font-family: 'Roboto', sans-serif;
    --paragraph-font-family: 'Roboto', sans-serif;
    --navigation-background-color:#879695;
    --navigation-link-color:rgb(113, 113, 150);
    --navigation-hover-link-color:#84C3C2;
    --navigation-hover-background-color:#9dacab;
}

body {
    font-family: var(--paragraph-font-family);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--navigation-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--navigation-link-color);
}

nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}

