* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}
main {
    max-width: 840px;
}

 main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    /* margin: 1px;
    padding: 5px; */
    /* background-color: rgb(249, 248, 251);
    color: #070f3b; */
    text-align: center;
    width: 20em;
    box-shadow: 0 0 100px gray;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}
main img {
    float: right;
}

footer {
    margin-top: 5px;
    border-color: 1px solid black;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #888b9d;
    color: #161e4a;
    clear: both;
}

aside h2 {
    position: absolute;
    left:20px;
}